h1{
color:rgb(197, 34, 88);
	text-decoration: underline;
}

h3{
color:rgb(218, 42, 100);
font-family: 'Sacramento', cursive;
}

p{
  color:rgb(156, 33, 74);
  font-size:35px;
	font-family: 'Sacramento', cursive;
}

.jess{
	font-size:30px;
	border-radius:50%;
	width:250px;
	height:250px;
	object-fit:cover;
margin-bottom:50px;
position: relative;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  from {left: -200px;}
  to {left: 200px;}
}

html body{
  text-align:center;
}

.what{
	text-decoration: underline;
}


.ft{
  font-size:25px;
	color:#478;
	font-family: 'Sacramento', cursive;
}

.email{
  border:0;
  padding:20px;
   font-size:20px;
  background:blue;
  color:yellow;
}

.submit{
  border:0;
  padding:10px;
  margin:10px;
   font-size:20px;
  background:red;
  color:yellow;
}

.green p{
  background-color:green;
  margin:10px;
  color:yellow;
}

.yellow p{
   background-color:yellow;
   margin:10px;
  color:blue;
}

.pink p{
   background-color:pink;
   margin:10px;
   color:green;
}

.btn btn-primary{
	border:0;
  padding:10px;
  margin:10px;
   font-size:20px;
}

.ig{
	background-color: whitesmoke;
	color:rgb(124, 206, 209);
}

.ig:hover{
background-color: whitesmoke;
}

#date{
	background-color: rgb(141, 246, 246);
	margin: 20px;
	font-size: 14px;
	font-style: oblique;
}

#cookies{
	font-family: 'Sacramento', cursive;
}

.inline-block {
    display: inline-block;
    }

.subjects{
	font-family: 'Sacramento', cursive;
	font-size: 25px;
}

.shopping{
	color: white;
}
